// Views Tweaks
/////////////////

.views-ajax-popup .scroll fieldset {
  padding: 5px;
}

.views-ui-display-tab-bucket .views-display-setting .label {
  color: #666;
  font-size: 100%;
}

.views-ui-display-tab-actions .ctools-button-processed li a,
.views-ui-display-tab-actions .ctools-button-processed input {
  color: #000;
}
